<style type="text/css">.mt-text span {padding-left: 10px;}</style>
<link rel="stylesheet" type="text/css" href="__JS__/jcrop/jquery.Jcrop.min.css" />
<script type="text/javascript" src="__JS__/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="__JS__/plupload/zh_CN.js"></script>
<script type="text/javascript" src="__JS__/jcrop/jquery.Jcrop.min.js"></script>
<div class="box-header">
    <h2><i class="icon-list"></i>登录信息</h2>
</div>
<div class="box-content">
    <ul class="nav tab-menu nav-tabs" id="myTab">
        <!-- <li><a href="#system" id="system-a">系统信息</a></li> -->
        <li><a href="#info"   id="password-a">修改密码</a></li>
        <li><a href="#messages" id="message-a">我的信息</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
<!--         <div class="tab-pane" id="system">
            <ul class="dashboard-list">
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-desktop blue"></i>
                            <span class="blue">系统信息</span>
                        </div>
                        <div class="span10">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <span>操作系统 & 内核版本</span>
                        </div>
                        <div class="span10">{$data.system}</div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <span>服务器软件</span>
                        </div>
                        <div class="span10">{$data.server}</div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <span>MySQL版本</span>
                        </div>
                        <div class="span10">{$data.mysql}</div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <span>PHP 版本</span>
                        </div>
                        <div class="span10">{$data.php}</div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <span>ThinkPHP版本</span>
                        </div>
                        <div class="span10">{$data.tp}</div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <span>上传文件</span>
                        </div>
                        <div class="span10">{$data.upload}</div>
                    </div>
                </li>
            </ul>
        </div> -->
        <div class="tab-pane active" id="messages">
            <ul class="dashboard-list">
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-user blue"></i>
                            <span class="blue">账号</span>
                        </div>
                        <div class="span10 text-success">
                            {$users.username}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-fire red"></i>
                            <span class="red">角色信息</span>
                        </div>
                        <div class="span10 text-success">
                            {$roles}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-envelope-alt blue"></i>
                            <span class="blue">邮箱</span>
                        </div>
                        <div class="span10 text-success">
                            {$users.email}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-time red"></i>
                            <span class="red">注册时间</span>
                        </div>
                        <div class="span10 me-time">
                            {$users.create_time}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-calendar blue"></i>
                            <span class="blue">上次登录时间</span>
                        </div>
                        <div class="span10 me-time">
                            {$users.last_time}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span2 mt-text">
                            <i class="icon-coffee blue"></i>
                            <span class="blue">上次登录IP</span>
                        </div>
                        <div class="span10">
                            {$users.last_ip}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="info">
            <form class="form-horizontal" name="updatePass" id="updatePass">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label"> 原密码 </label>
                        <div class="controls">
                            <input type="password" name="oldPassword" required="true" rangelength="[2, 20]"/>
                            <p class="help-block text-danger">需要填写之前的密码 ! </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"> 新密码 </label>
                        <div class="controls">
                            <input type="password" name="newPassword" required="true" rangelength="[2, 20]" neqTo="input[name=oldPassword]" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"> 确认新密码 </label>
                        <div class="controls">
                            <input type="password" name="truePassword" required="true" rangelength="[2, 20]" equalTo="input[name=newPassword]"/>
                            <p class="help-block text-danger"> 需要填写和新密码一致 ! </p>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">保存</button>
                        <button class="btn" type="reset">重置</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        // 标签页显示
        $("#myTab a:last").tab("show");$("#myTab a").click(function(b){b.preventDefault();$(this).tab("show")});

        $('.me-time').each(function(){$(this).html(timeFormat(parseInt($(this).html()), "yyyy-MM-dd hh:mm:ss"))});

        // 文件上传
        var uploader = MeUpload('#handlefile', function(file, data){
            $('#handlefile img').attr('src', data.sPath);
            CutOutImage('#handlefile', file.id, data.sPath, [160, 160]);
        });
        uploader.init();

        // 取消图片裁剪
        $(document).on('click', '.me-cancel', function(){
            $(this).parentsUntil('.alert-info').slideUp(1000, function(){
                $(this).parent().parent().parent().remove().empty();
            });
        });

        // 图片裁剪处理
        $(document).on('click', '.me-clipping', function(){
            var f = $($(this).attr('form')),
                d = f.find('input');
            if (d.val() && ((d.attr('x') || d.attr('y')) && (d.attr('w') || d.attr('h') )))
            {
                var l = layer.load();
                $.ajax({
                    type:       "POST",
                    url:        f.attr('action'),
                    data:       {
                        x:      d.attr('x'), // 883842500055260387
                        y:      d.attr('y'),
                        w:      d.attr('w'),
                        h:      d.attr('h'),
                        path:   d.val()
                    },
                    dataType:   "json",
                }).always(function(){
                    layer.close(l)
                }).done(function(json){
                    if (json.status == 1)
                    {
                        $('#handlefile .alert-info').slideUp(1000, function() {
                            $(this).parent().remove().empty();
                            $('#handlefile img').attr('src', $('#handlefile img').attr('src') + '?time=' + Math.random());
                        });
                    } else {
                        $.gritter.add({
                            title:  "图片裁剪出现问题：",
                            text:   json.msg,
                            image:  "/Public/img/avatar.jpg",
                            sticky: false,
                            time:   "",
                        });
                    }

                }).fail(ajaxFail)
            } else {
                layer.msg('需要确定裁剪位置');
            }

            return false;
        });

        // 默认选择
        if (/#info/.test(window.location.href))    setTimeout(function(){$('#password-a').trigger('click')}, 100);
        if (/#message/.test(window.location.href)) setTimeout(function(){$('#message-a').trigger('click');}, 100);

        $('.user-info').click(function(){$('#message-a').trigger('click')});
        $('.user-password').click(function(){$('#password-a').trigger('click')});

        // 修改密码
        $('#updatePass').submit(function(){
            if ($(this).validate().form())
            {
                oLoading = layer.load();
                $.ajax({
                    url:        'updatePassword.html',
                    type:       'POST',
                    data:       $(this).serialize(),
                    dataType:   'json',
                }).always(alwaysClose)
                .done(function(json){
                    gAlert('管理员信息', json.msg, json.status == 1 ? 'success' : 'warning' );
                    if (json.status == 1) $('#myTab a:first').addClass('active').trigger('click');
                    if (json.status == 3) window.location.href = '/admin';
                })
                .fail(ajaxFail);
            }
            return false;
        })
    });
</script>