<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- logo -->
    <link rel="bookmark" type="image/x-icon" href="__PUBLIC__/Home/base/img/logo.ico"/>
    <link rel="shortcut icon" href="__PUBLIC__/Home/base/img/logo.ico">
    <link rel="icon" href="__PUBLIC__/Home/base/img/logo.ico">
    <!--移动设备优先-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--bootstrap.css样式-->
    <link rel="stylesheet" href="__PUBLIC__/Home/base/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <!--jquery.js-->
    <script type="text/javascript" src="__PUBLIC__/Home/base/js/jquery-1.11.0.min.js" ></script>
    <!--bootstrap.js-->
    <script type="text/javascript" src="__PUBLIC__/Home/base/libs/bootstrap-3.3.5-dist/js/bootstrap.min.js" ></script>
    <!--css-->
    <link rel="stylesheet" href="__PUBLIC__/Home/base/css/index.css" />
    <title>乐次元官网</title>

</head>
<body>
	<!--导航栏开始-->
	<nav id="nav" class="navbar navbar-default templatemo-nav" role="navigation">

		<div class="container">

			<div class="navbar-header">

				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

					<span class="icon icon-bar"></span>

					<span class="icon icon-bar"></span>

					<span class="icon icon-bar"></span>

				</button>

				<a href="#" class="navbar-brand" style="color: sandybrown;font-size: 20px;">Fun4乐次元</a>

			</div>

			<div class="collapse navbar-collapse">

				<ul class="nav navbar-nav navbar-right">

					<li><a href="#top">首页</a></li>

					<li><a href="#about">关于我们</a></li>

					<li><a href="#team">我们的团队</a></li>

					<li><a href="#contact">联系我们</a></li>

				</ul>

			</div>

		</div>

	</nav>
	<!--导航栏结束-->

	<!-- start home -->

    	<section id="home" >

    		<div class="container">

    			<div class="row">

    				<div id="title" class="col-md-offset-2 col-md-8">

    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s"><span>Fun4 游戏</span>让您放肆玩！</h1>

    					<div class="element">

                        <div class="sub-element"><span>一家以玩家快乐为主旨的游戏平台</span></div>

                    </div>

    					<a href="#about" <!--class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s"-->了解更多</a>

    				</div>

    			</div>

    		</div>

    	</section>

    	<!-- end home -->


	<!-- start introduce -->

	<section id="about">

		<div class="container">

			<div class="row" style="text-align: center;">

				<div class="col-md-12">

					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span style="color: dodgerblue;">Fun4 的故事</span></h2>

				</div>

				<div class="col-md-3 col-sm-3 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">

				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">

					<div class="media">

						<div class="media-heading-wrapper">

							<div class="media-object pull-left">

								<i class="fa fa-film"></i>

							</div>

						</div>

						<div class="media-body" style="text-align: center; color: white;">

							<p>Fun4（广州乐次元网络科技有限公司）是人人游戏旗下全资子公司，于2017年初成立，位于广州方圆E时光大厦，专注在手机游戏的海外发行，致力于为广大玩家们提供最优质的游戏体验，公司核心团队在港澳台，东南亚和欧美市场的手游推广和运营上都积累了丰富的经验和资源，正以“思考，精致，分享，感恩”的企业精神全力打造最受玩家喜爱的移动游戏发行平台。

							</p>

						</div>

					</div>

				</div>

				<div class="col-md-3 col-sm-3 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">

				</div>

			</div>

		</div>

	</section>

	<!-- end introduce -->


	<!-- start service -->

	<section id="service">

		<div class="container">

			<div class="row" style="text-align: center;">

				<div class="col-md-12">

					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span style="color: dodgerblue;">Fun4 做的事</span></h2>

				</div>

				<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">

					<div class="media" style="color: white;">

						<div class="media-heading-wrapper">

							<div class="media-object pull-left">

								<i class="fa fa-group"></i>

							</div>

							<h3 class="media-heading" style="color: white;">游戏本地化</h3>

						</div>

						<div class="media-body">

							<p style="color: white;">不止步于语言的直接翻译……</p>

						</div>

					</div>

				</div>

				<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">

					<div class="media" style="color: white;">

						<div class="media-heading-wrapper">

							<div class="media-object pull-left">

								<i class="fa fa-film"></i>

							</div>

							<h3 class="media-heading">品牌化的营销</h3>

						</div>

						<div class="media-body">

							<p>不止步于单纯的流量导入……</p>

						</div>

					</div>

				</div>

				<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">

					<div class="media" style="color: white;">

						<div class="media-heading-wrapper">

							<div class="media-object pull-left">

								<i class="fa fa-html5"></i>

							</div>

							<h3 class="media-heading">规划有序的运营</h3>

						</div>

						<div class="media-body">

							<p>不止步于简单粗暴的运营活动……</p>

						</div>

					</div>

				</div>

			</div>

		</div>

	</section>

	<!-- end service -->



	<!-- start team -->

    	<section id="team">

    		<div class="container">

    			<div class="row">

    				<div class="col-md-12" style="text-align: center;">

    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span style="color: dodgerblue;">Fun4 的团队</span>

    					</h2>

    				</div>

    				<div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">

    					<div class="team-wrapper">

    						<img src="__PUBLIC__/Home/base/img/team01.jpg" class="img-responsive" alt="team img 1">

    							<div class="team-des">

    								<h4>超十年游戏业经验的老兵 </h4>

    							</div>

    					</div>

    				</div>

    				<div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">

    					<div class="team-wrapper">

    						<img src="__PUBLIC__/Home/base/img/team02.jpg" class="img-responsive" alt="team img 2">

    							<div class="team-des">

    								<h4>帅气又逗比的资深运营</h4>

    							</div>

    					</div>

    				</div>

    				<div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">

    					<div class="team-wrapper">

    						<img src="__PUBLIC__/Home/base/img/team03.jpg" class="img-responsive" alt="team img 3">

    							<div class="team-des">

    								<h4>面壁写代码更有灵感的技术哥</h4>

    							</div>

    					</div>

    				</div>

    			</div>

    		</div>

    	</section>

    	<!-- end team -->




    	<!-- start contact -->

    	<section id="contact">

    		<div class="container">

    			<div class="row">

    				<div class="col-md-12" style="text-align: center;">

    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span style="color: dodgerblue;">如何找Fun4</span></h2>
    				</div>

    				<div class="col-md-12" data-wow-offset="50" data-wow-delay="0.6s" style="text-align: center; color: white;">

					<address>

						<p class="address-title">联系信息</p>

						<span>我们在美丽的羊城广州</span>

						<!--<p><i class="fa fa-phone"></i> 0571-88116117</p>-->

						<p><i class="fa fa-envelope-o"></i> Email: BD@fun4-play.com</p>

						<p><i class="fa fa-map-marker"></i> 地址：广州市天河区科韵路方圆E时光西座</p>

					</address>

    			</div>

    			</div>

    		</div>

    	</section>

    	<!-- end contact -->


	<!-- start copyright -->

    <footer id="copyright">

        <div class="container">

            <div class="row">

                <div class="col-md-12 text-center">

                    <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">

                   	Copyright &copy; 2017 广州乐次元网络科技有限公司
                   	</p>

                </div>

            </div>

        </div>

    </footer>

    <!-- end copyright -->


</body>
</html>
