<div class="box-header" data-original-title="">
    <h2><i class="icon-desktop"></i><span class="break"></span></h2>
    <div class="box-icon">
        <a title="导出" class="me-table-export"><i class="icon-download-alt"></i></a>
        <a title="添加" class="me-table-insert"><i class="icon-plus"></i></a>
        <a title="刷新" href="#" onclick="return myTable.search();"><i class="icon-refresh"></i></a>
        <a class="btn-minimize" title="隐藏" href="#"><i class="icon-chevron-up"></i></a>
    </div>
</div>
<div class="box-content">
    <!--表格数据-->
    <table class="table table-striped table-bordered table-hover" id="showTable"></table>
</div>

<script type="text/javascript">
    var parents = {$parents|json_encode=###};
    console.log(parents);
    var myTable = new MeTable({sTitle:"导航栏目"},{
        "aoColumns":[
            {"data":"id", "title":"ID", "sName":"id", "edit":{"type":"hidden"}, "search":{"type":"text"}},
            {"data":"pid", "sName":"pid","title":"父类ID", "value":parents,"edit":{"type": "select", "default":0, "options":{"required":1, "number":1}},"createdCell":function(td, data, rowdata, row, col){
                $(td).html(parents[data])
            }},
            {"data":"menu_name", "sName":"menu_name", "title":"栏目名称", "edit":{"type":"text","options":{"required":1,"rangelength":"[2, 50]"}}},
            {"data":"icons", "sName":"icons","title":"使用的icons", "edit":{"type":"text", "options":{"required":1, "rangelength":"[2,50]"}}},
            {"data":"url", "sName":"url", "title":"访问URL", "edit":{"type":"text", "options":{"rangelength":"[1,50]"}}, "search":{"type":"text"}},
            {"data":"status", "sName":"status","title":"状态", "value":{"1":"启用", "0":"停用"}, "createdCell":statusToString, "edit":{"type":"radio","default": 1, "options":{"required":1, "number":1}}, "search":{"type":"select", }},
            {"data":"sort","sName":"sort", "title":"排序", "edit":{"options":{"required":1, "number":1, "value":100}}},
            {"data":"create_time", "sName":"create_time","title":"创建时间", "createdCell":dateTimeString},
            {"data":"update_time", "sName":"update_time", "title":"修改时间", "createdCell":dateTimeString},
            {"data": null, "title":"操作", "bSortable":false, "createdCell":setOperate},
        ]
    });

    // 新增之后的处理
    myTable.afterSave = function(data) {
        if (this.actionType == 'insert' && data['id'] && data['pid'] == 0)
        if (this.actionType == 'insert' && data['id'])
        {
            parents[data['id']] = data['menu_name'];
            $(this.options.sFormId + ' select[name=pid]').append('<option value="' + data['id'] + '">' +  data['menu_name'] + '</option>')
        }

        return true;
    };

    $(function(){
        myTable.init();
    })
</script>