<!--前面导航信息-->
<div class="box-header" data-original-title="">
    <h2><i class="icon-desktop"></i><span class="break"></span></h2>
    <div class="box-icon">
        <!-- <a title="导出" class="me-table-export"><i class="icon-download-alt"></i></a> -->
        <a title="添加" href="#" class="btn-insert"><i class="icon-plus"></i></a>
        <a class="btn-minimize" title="隐藏" href="#"><i class="icon-chevron-up"></i></a>
    </div>
</div>
<div class="box-content">
    <!--表格数据-->
    <table class="table table-striped table-bordered table-hover" id="showTable"></table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" >文章详情</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-detail">
                <tbody id="aritcle-show">

                </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!-- <button type="button" class="btn btn-primary">提交更改</button> -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="Modal-update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
            <div class="modal-body"  style="min-height:550px">
                <!-- <form method="post" id="editForm" class="form-horizontal" name="editForm" action="update"> -->
<!--                     <fieldset>
                        <div class="controls">文章标题 :  <input type="text" required="1"  name="title" class="input-xlarge"></div>
                        <div class="controls">作者 :  <input type="text" required="1"  name="author" class="input-xlarge"></div>
                        <div class="controls">文章类型 :  <input type="text" required="1"  name="tid" class="input-xlarge"></div>
                        <div class="controls">关键词 :  <input type="text" required="1"  name="keywords" class="input-xlarge"></div>
                        <div class="controls">摘要 :  <input type="text" required="1"  name="description" class="input-xlarge"></div>
                        <div class="controls">内容 :  <input type="text" required="1"  name="content" class="input-xlarge"></div>
                    </fieldset> -->
                <!-- </form> -->
                <table class="table table-bordered table-striped table-detail">
                <tbody id="aritcle-edit">

                </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<style>
    .label-danger{
        background: red;
    }
</style>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/ueditor.all.min.js"> </script>
<script src="__PUBLIC__/Admin/js/layer/layer.js"></script>
<script type="text/javascript">
    // 设置表单信息
    function setOperate2(td, data, rowArr, row, col)
    {
        $(td).html('<a href="javascript:;" class="btn btn-success btn-ding" table-data="' + row + '" title="置顶"><i class="icon-arrow-up "></i></a> \
        <a href="javascript:;" class="btn btn-info btn-lamp" table-data="' + row + '" title="常亮"><i class="icon-asterisk "></i></a> \
        <a href="javascript:;" class="btn btn-info btn-edit" table-data="' + row + '" title="编辑"><i class="icon-edit "></i></a> \
        <a href="javascript:;" class="btn btn-danger me-table-del" table-data="' + row + '" title="删除"><i class="icon-trash "></i></a>');
    }
    function idGet(td, cellData, rowArr, row, col) {$(td).html(cellData);$(td).addClass('idGet'+row);}

    function tid(td, cellData, rowArr, row, col) {
        if (cellData == 1) {
            $(td).html("新闻");
        }else if(cellData == 2) {
            $(td).html("公告");

        }else if(cellData == 3) {
            $(td).html("活动");

        }
    }

    function idGet1(td, cellData, rowArr, row, col) {
        if (cellData == 1) {
            $(td).html('<span class="label label-danger">置顶</span>');
        }else{
            $(td).html("");

        }
        $(td).addClass('idGet1'+row);
    }

    function idGet2(td, cellData, rowArr, row, col) {
        if (cellData == 1) {
            $(td).html('<span class="label label-success">常亮</span>');
        }else{
            $(td).html("");

        }
        $(td).addClass('idGet2'+row);
    }
    var status = {'0':'关', '1':'开'};

    var myTable = new MeTable({sTitle:"浮标管理"},{
        "aoColumns":[
            {"data":"id", "title":"id", "sName":"id", "edit":{"type":"hidden"} , "search":{"type":"text"} , "createdCell":idGet},

            {"data":"priority", "sName":"priority","bSortable":false, "title":"排序"},
            {"data":"is_top", "sName":"is_top","bSortable":false, "title":"是否置顶" , "createdCell":idGet1},
            {"data":"is_lamp", "sName":"is_lamp","bSortable":false, "title":"是否常亮" , "createdCell":idGet2},
            // {"data":"is_top", "sName":"is_top","title":"是否置顶", "value":status,"edit":{"type": "select", "default":0, "options":{"required":1, "number":1}},"createdCell":function(td, data, rowdata, row, col){
            //     $(td).html(status[data])
            // }},
            {"data":"title", "sName":"title","bSortable":false, "title":"文章标题", "search":{"type":"text"}},
            {"data":"author", "sName":"author","bSortable":false, "title":"作者"},
            {"data":"tid", "sName":"tid","bSortable":false, "title":"文章类型", "createdCell":tid},
            {"data":"keywords", "sName":"keywords","bSortable":false, "title":"关键词"},
            {"data":"desc", "sName":"desc","bSortable":false, "title":"摘要"},
            {"data":"edittime", "sName":"edittime","title":"修改时间", "createdCell":dateTimeString},
            {"data": null, "title":"操作", "bSortable":false, "createdCell":setOperate2, "width":"120px"}
        ],

        // 设置隐藏和排序信息
        // "order":[[2, "desc"]],
        // "columnDefs":[{"targets":[2,3], "visible":false}],
    });

    // // 显示之前
    // myTable.beforeShow = function(data, isData) {
    //     $(this.options.sFormId +' input[name=name]').attr('readonly', this.actionType !== 'insert');
    //     return true;
    // };

    $(function(){
        myTable.init();
    })

    // 文章详情
    $("#showTable").on('click', '.btn-show', function() {
        var id = $(this).closest("tr").children('.sorting_1').html();
        var data = {
            id : id
        }
        $.post('search_by_id', data, function(data) {
            data = JSON.parse(data);
            console.log(data);
            data = data.data;

            var html = '';
            html += '<tr><td width="25%">文章标题</td><td class="views-info data-info-id">'+data.title+'</td></tr>';
            html += '<tr><td width="25%">文章作者</td><td class="views-info data-info-name">'+data.author+'</td></tr>';
            html += '<tr><td width="25%">文章类型</td><td class="views-info data-info-currency">'+data.atype+'</td></tr>';
            html += '<tr><td width="25%">关键词</td><td class="views-info data-info-desc">'+data.keywords+'</td></tr>';
            html += '<tr><td width="25%">摘要</td><td class="views-info data-info-null">'+data.desc+'</td></tr>';
            html += '<tr><td width="25%">内容</td><td class="views-info data-info-null">'+data.content+'</td></tr>';
            $('#aritcle-show').html(html);
            $('#myModal').modal('show');
        });

    });

    var abc = 1;
    //文章编辑
    $("#showTable").on('click', '.btn-edit', function() {
        var title = '文章编辑';
        $('#myModalLabel').html(title);
        var id = $(this).closest("tr").children('.sorting_1').html();
        var data = {
            id : id
        }
        window.location.href="view?id="+id;
        // $.post('search_by_id', data, function(data) {
        //     data = JSON.parse(data);
        //     console.log(data);
        //     data = data.data;

        //     var html = '';
        //     html += '<tr><td width="15%">文章标题</td><td class="views-info data-info-id">'+data.title+'</td></tr>';
        //     html += '<tr><td width="15%">文章作者</td><td class="views-info data-info-name">'+data.author+'</td></tr>';
        //     html += '<tr><td width="15%">文章类型</td><td class="views-info data-info-currency">'+data.atype+'</td></tr>';
        //     html += '<tr><td width="15%">关键词</td><td class="views-info data-info-desc">'+data.keywords+'</td></tr>';
        //     html += '<tr><td width="15%">摘要</td><td class="views-info data-info-null">'+data.desc+'</td></tr>';
        //     html += '<tr><td width="15%">内容</td><td class="views-info data-info-null"><textarea name="content" id="MyTextarea'+abc+'">'+data.content+'</textarea></td></tr>';
        //     $('#aritcle-edit').html(html);


        //     var ue = UE.getEditor( 'MyTextarea'+abc,{
        //         initialFrameWidth: null,//设置为null即可
        //         initialFrameHeight:483
        //     });
        //     abc++;
        //     $('#Modal-update').css('width','90%');
        //     $('#Modal-update').css('left','350px');
        //     $('#Modal-update').css('top','5%');
        //     $('#Modal-update').modal('show');
        // });

    });
    $(".btn-insert").on('click', function() {
        window.location.href="add.html";
    });


    // 文章置顶
    $("#showTable").on('click', '.btn-ding', function() {
        var id = $(this).attr("table-data");
        var aId = $('.idGet'+id).html();
        // var this = $(this);
        var data = {
            id : aId,
        }
        $.post('top.html', data, function(data) {
            data = JSON.parse(data);
            if (data.result == 1) {
                setTimeout("$('.click-chuzhi-color').removeClass('click-chuzhi-color')",200);
                // window.location.href=url+"?game_name="+game_name+"&server_name="+server_name+"&user_name="+user_name;
                // window.location.href="?";
                layer.msg(data.msg);
                $('.idGet1'+id).html('<span class="label label-danger">'+data.data+'</span>');
            }else{
                layer.msg(data.msg);
            };
        });
    })


    // 文章常亮
    $("#showTable").on('click', '.btn-lamp', function() {
        var id = $(this).attr("table-data");
        var aId = $('.idGet'+id).html();
        // var this = $(this);
        var data = {
            id : aId,
        }
        $.post('lamp.html', data, function(data) {
            data = JSON.parse(data);
            if (data.result == 1) {
                setTimeout("$('.click-chuzhi-color').removeClass('click-chuzhi-color')",200);
                // window.location.href=url+"?game_name="+game_name+"&server_name="+server_name+"&user_name="+user_name;
                // window.location.href="?";
                layer.msg(data.msg);
                $('.idGet2'+id).html('<span class="label label-success">'+data.data+'</span>');
            }else{
                layer.msg(data.msg);
            };
        });
    })
</script>